apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-scheduler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-scheduler
  template:
    metadata:
      labels:
        app: airflow-scheduler
    spec:
      securityContext:
        {{- toYaml .Values.securityContext.pod | nindent 8 }}
      volumes:
        - name: airflow-scheduler-logs
          emptyDir: {}
      containers:
      - name: scheduler
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        args: ["scheduler"]
        env:
          - name: AIRFLOW__CORE__EXECUTOR
            value: {{ .Values.airflow.executor }}
          - name: AIRFLOW__WEBSERVER__SECRET_KEY
            value: {{ .Values.airflow.secretKey }}
          - name: AIRFLOW__CORE__FERNET_KEY
            value: {{ .Values.airflow.fernetKey }}
          - name: AIRFLOW__DATABASE__SQL_ALCHEMY_CONN
            value: postgresql+psycopg2://{{ .Values.postgres.user }}:{{ .Values.postgres.password }}@postgres/{{ .Values.postgres.database }}
        volumeMounts:
          - name: airflow-scheduler-logs
            mountPath: /opt/airflow/logs
        securityContext:
          {{- toYaml .Values.securityContext.container | nindent 10 }}
        resources:
          requests:
            cpu: 100m
            memory: 512Mi
          limits:
            cpu: 500m
            memory: 1.5Gi
