---
apiVersion: v1
kind: Secret
metadata:
  name: airflow-secrets
type: Opaque
stringData:
  AIRFLOW__CORE__EXECUTOR: {{ .Values.airflow.executor | quote }}
  AIRFLOW__WEBSERVER__SECRET_KEY: {{ .Values.airflow.webServer.secrets.webServerSecretKey | quote }}
  AIRFLOW__CORE__FERNET_KEY: {{ .Values.airflow.secrets.fernetKey | quote }}
  AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: "postgresql+psycopg2://{{ .Values.postgres.secrets.user }}:{{ .Values.postgres.secrets.password }}@postgres/{{ .Values.postgres.secrets.database }}"
