---
{{- with .Values.airflow.initJob }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .name | quote }}
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-delete-policy: hook-succeeded,before-hook-creation
    helm.sh/hook-weight: "1"
spec:
  ttlSecondsAfterFinished: {{ .ttlSecondsAfterFinished | int}}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .name | quote }}
        app.kubernetes.io/instance: {{ $.Release.Name }}
        app.kubernetes.io/version: {{ $.Chart.AppVersion }}
        app.kubernetes.io/part-of: {{ .partOf | default $.Chart.Name }}
        app.kubernetes.io/component: {{ .component | default $.Chart.Name }}
        app.kubernetes.io/managed-by: {{ $.Release.Service }}
        {{- if .extraLabels }}
        {{- toYaml .extraLabels | nindent 8 }}
        {{- end }}
      annotations:
        github.com/run-id: {{ $.Values.global.runId | quote }}
        {{- if .extraAnnotations }}
        {{- toYaml .extraAnnotations | nindent 8 }}
        {{- end }}
    spec:
      restartPolicy: {{ .restartPolicy }}
      securityContext:
        {{- toYaml .securityContext.pod | nindent 8 }}
      volumes:
        - name: airflow-init-logs
          emptyDir: {}
      containers:
        - name: init
          image: "{{ $.Values.airflow.image.host }}/{{ $.Values.airflow.image.name }}:{{ $.Values.airflow.image.tag }}"
          imagePullPolicy: {{ .imagePullPolicy }}
          securityContext:
            {{- toYaml .securityContext.container | nindent 12 }}
          resources:
            {{- toYaml .resources.container | nindent 12 }}
          volumeMounts:
            - name: airflow-init-logs
              mountPath: /opt/airflow/logs
          envFrom:
            - secretRef:
                name: airflow-secrets
          command:
            - bash
            - -c
            - |
              echo "Initializing Airflow database"
              {{- if $.Release.IsInstall }}
              echo "First install - running 'airflow db init'"
              airflow db init

              echo "Creating admin user..."
              airflow users create \
                --username {{ .secrets.adminUser.username | quote }} \
                --password {{ .secrets.adminUser.password | quote }} \
                --firstname {{ .secrets.adminUser.firstname | quote }} \
                --lastname {{ .secrets.adminUser.lastname | quote }} \
                --email {{ .secrets.adminUser.email | quote }} \
                --role Admin
              {{- end }}
      initContainers:
        - name: wait-for-postgres
          image: postgres:16
          securityContext:
            {{- toYaml .securityContext.initContainer | nindent 12 }}
          resources:
            {{- toYaml .resources.initContainer | nindent 12 }}
          env:
            - name: PGHOST
              value: "{{ $.Values.postgres.service.name }}.testing-moc-airflow.svc.cluster.local"
            - name: PGPORT
              value: {{ $.Values.postgres.service.externalPort.number | quote }}
            - name: PGDATABASE
              value: {{ $.Values.postgres.secrets.database | quote }}
            - name: PGUSER
              value: {{ $.Values.postgres.secrets.user | quote }}
            - name: PGPASSWORD
              value: {{ $.Values.postgres.secrets.password | quote }}
          command:
            - sh
            - -c
            - |
              echo "Waiting for Postgres..."
              until pg_isready -h $PGHOST -p $PGPORT -U $PGUSER -d $PGDATABASE; do
                echo "Postgres is not ready yet..."
                sleep 3
              done
              echo "Postgres is ready!"
{{- end -}}
