---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.airflow.initJob.name | quote }}
spec:
  template:
    spec:
      restartPolicy: OnFailure
      securityContext:
        {{- toYaml .Values.airflow.initJob.securityContext.pod | nindent 8 }}
      volumes:
        - name: airflow-init-logs
          emptyDir: {}
      containers:
        - name: init
          image: "{{ .Values.airflow.image.host }}/{{ .Values.airflow.image.name }}:{{ .Values.airflow.image.tag }}"
          imagePullPolicy: {{ .Values.airflow.initJob.imagePullPolicy }}
          securityContext:
            {{- toYaml .Values.airflow.initJob.securityContext.container | nindent 12 }}
          volumeMounts:
            - name: airflow-init-logs
              mountPath: /opt/airflow/logs
          envFrom:
            - secretRef:
                name: airflow-secrets
          command:
            - bash
            - -c
            - |
              echo "Initializing Airflow database"
              airflow db init

              echo "Creating admin user..."
              airflow users create \
                --username admin \
                --firstname admin \
                --lastname user \
                --role Admin \
                --email admin@example.com \
                --password admin
      initContainers:
        - name: wait-for-postgres
          image: postgres:16
          securityContext:
            capabilities:
              drop: [ "ALL" ]
            allowPrivilegeEscalation: false
            privileged: false
            runAsNonRoot: true
          env:
            - name: PGHOST
              value: "{{ .Values.postgres.service.name }}.testing-moc-airflow.svc.cluster.local"
            - name: PGPORT
              value: {{ .Values.postgres.service.externalPort.number | quote }}
            - name: PGDATABASE
              value: {{ .Values.postgres.secrets.database | quote }}
            - name: PGUSER
              value: {{ .Values.postgres.secrets.user | quote }}
            - name: PGPASSWORD
              value: {{ .Values.postgres.secrets.password | quote }}
          command:
            - sh
            - -c
            - |
              echo "Waiting for Postgres..."
              until pg_isready -h postgres -p $PGPORT -U $PGUSER -d $PGDATABASE; do
                echo "Postgres is not ready yet..."
                sleep 3
              done
              echo "Postgres is ready!"
