# "Temporary" dependencies for developing, 
# for final dependencies use pyproject.toml

pytest

openpyxl        # for reading original input datasets
pandas
fastparquet     # searialization of pandas tables
ray             # implicit dependency of tinyda
tinyda          # for Bayes inversion (WTP processing
meshio          # MSH - VTK conversion, both directions
joblib          # memoization, should be dependency of endorse

seaborn
matplotlib

