# "Temporary" dependencies for developing, 
# for final dependencies use pyproject.toml

pytest

#openpyxl        # for reading original input datasets
pandas
fastparquet     # searialization of pandas tables
joblib          # memoization, should be dependency of endorse

seaborn
matplotlib
requests
requests_cache
ipykernel
ipympl
jupyter

