runId: 0
registry:
  host: docker.io

ingressService:
  name: ingress-service
  image:
    name: jbrezmorf/ingress-service
    tag: latest
  replicaCount: 1
  restartPolicy: Always
  imagePullPolicy: Always
  partOf: ""
  component: "ingress-service"
  extraEnv:
    - name: LOG_LEVEL
      value: DEBUG
    - name: PORT
      value: 8000
  configuration:
    s3:
      endpointUrl: ""
      storeUrl: ""
      secrets:
        accessKey: ""
        secretKey: ""
    fastapi:
      security:
        usersJson: ""
  service:
    type: ClusterIP
    name: ingress_service
    labels: {}
    annotations: {}
    externalPort:
      number: 80
      name: http
    internalPort:
      number: 8000
      name: http
  ingress:
    className: "nginx"
    annotations:
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    labels: {}
  resources:
    requests:
      cpu: 125m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi
  securityContext:
    pod:
      fsGroup: 1000
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      seccompProfile:
        type: RuntimeDefault
    container:
      capabilities:
        drop:
          - ALL
      allowPrivilegeEscalation: false
      privileged: false
      runAsNonRoot: true
      readOnlyRootFilesystem: true
      runAsUser: 1000
      runAsGroup: 1000

apache-airflow:
  enabled: true
