---
{{- with .Values.postgres.secrets }}
apiVersion: v1
kind: Secret
metadata:
  name: postgresql-secrets
type: Opaque
stringData:
  POSTGRES_USER: {{ .user | quote }}
  POSTGRES_PASSWORD: {{ .password | quote }}
  POSTGRES_DB: {{ .database | quote }}
  PGDATA: /var/lib/postgresql/data/pgdata
{{- end -}}
