apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
spec:
  serviceName: postgres
  selector:
    matchLabels:
      app: postgres
  replicas: 1
  template:
    metadata:
      labels:
        app: postgres
    spec:
      securityContext:
        runAsUser: 999
        runAsGroup: 999
        fsGroup: 999
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: postgres
        image: docker.io/postgres:16
        env:
          - name: POSTGRES_USER
            value: {{ .Values.postgres.user }}
          - name: POSTGRES_PASSWORD
            value: {{ .Values.postgres.password }}
          - name: POSTGRES_DB
            value: {{ .Values.postgres.database }}
          - name: PGDATA
            value: /var/lib/postgresql/data/pgdata
        securityContext:
          capabilities:
            drop:
              - ALL
          allowPrivilegeEscalation: false
          privileged: false
          runAsUser: 999
          runAsGroup: 999
          runAsNonRoot: true
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 500m
            memory: 500Mi
        ports:
          - containerPort: 5432
        volumeMounts:
          - name: data
            mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      volumeMode: Filesystem
      storageClassName: "csi-ceph-rbd-du"
      resources:
        requests:
          storage: {{ .Values.postgres.storage }}
