name: Ingress server - pull request
on:
  pull_request:
    branches:
      - "**"
    paths:
      - ingress_server/**
jobs:
  build:
    name: Build and deploy ingress server
    uses: ./.github/workflows/ingress-server-reusable-workflow.yaml
    concurrency:
      group: "${{ github.workflow }}-${{ github.ref_name }}-build-and-deploy"
      cancel-in-progress: false
    with:
      deploy: true
      tag: generate
      namespace: ingress-server-development
      release-name: ingress-server-development
      s3-store-url: s3://app-databuk-test-service/bukov-pull-request.zarr
      zarr-fuse-ref: ${{ github.head_ref }}
    secrets: inherit
