name: Ingress server - pull request
on:
  pull_request:
    branches:
      - "**"
    paths:
      - ingress_server/**
jobs:
  build:
    name: Build and deploy ingress server
    uses: ./.github/workflows/ingress-server-reusable-workflow.yaml
    concurrency:
      group: "${{ github.workflow }}-${{ github.head_ref }}-build-and-deploy"
      cancel-in-progress: false
    with:
      deploy: false
      push-container: false
      tag: generate
      zarr-fuse-ref: ${{ github.head_ref }}
    secrets: inherit
