name: Ingress server - reusable workflow
on:
  workflow_call:
    inputs:
      push-container:
        description: Whether to push the container image
        required: false
        type: boolean
        default: false
      deploy-helm-chart:
        description: Whether to deploy the Helm chart
        required: false
        type: boolean
        default: false
      tag:
        description: The tag to use for the container image
        required: false
        type: string
        default: generate
      namespace:
        description: The Kubernetes namespace to use
        required: true
        type: string
      extra-helm-values:
        description: Extra Helm values to pass during deployment
        required: false
        type: string
jobs:
  get-version-tag:
    name: Get version tag
    runs-on: ubuntu-latest
    outputs:
      version-tag: ${{ steps.get_version_tag.outputs.version-tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get version tag
        id: get_version_tag
        run: |
          if [[ ${{ inputs.tag }} == "generate" ]]; then
            echo "version-tag=ci-$(git rev-parse --short=7 HEAD)" >> $GITHUB_OUTPUT
          else
            echo "version-tag=${{ inputs.tag }}" >> $GITHUB_OUTPUT
          fi
  lint-ingress-service-containerfile:
    name: Lint ingress service Containerfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: ingress_server/oci/ingress.Containerfile
  containerize-ingress-service:
    name: Containerize ingress server
    runs-on: ubuntu-latest
    container:
      image: quay.io/buildah/stable:v1.35.4
      options: --privileged
    needs:
      - get-version-tag
      - lint-ingress-service-containerfile
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Containerize
        uses: GeoMop/github-actions/.github/actions/containerize@v1
        with:
          registry: docker.io
          repository: jbrezmorf/zarr-fuse-ingress-service
          tag: ${{ needs.get-version-tag.outputs.version-tag }}
          containerfile-path: oci/ingress.Containerfile
          working-directory: ingress_server
          registry-username: ${{ vars.DOCKER_USERNAME }}
          registry-password: ${{ secrets.DOCKER_PASSWORD }}
          push: true
          extra-build-args: >-
            --build-arg APP_VERSION=${{ needs.get-version-tag.outputs.version-tag }}
  lint-extractor-service-containerfile:
    name: Lint extractor service Containerfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: ingress_server/oci/extractor.Containerfile
  containerize-extractor-service:
    name: Containerize extractor service
    runs-on: ubuntu-latest
    container:
      image: quay.io/buildah/stable:v1.35.4
      options: --privileged
    needs:
      - get-version-tag
      - lint-extractor-service-containerfile
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Containerize
        uses: GeoMop/github-actions/.github/actions/containerize@v1
        with:
          registry: docker.io
          repository: jbrezmorf/zarr-fuse-extractor-service
          tag: ${{ needs.get-version-tag.outputs.version-tag }}
          containerfile-path: oci/extractor.Containerfile
          working-directory: ingress_server
          registry-username: ${{ vars.DOCKER_USERNAME }}
          registry-password: ${{ secrets.DOCKER_PASSWORD }}
          push: true
          extra-build-args: >-
            --build-arg APP_VERSION=${{ needs.get-version-tag.outputs.version-tag }}
  validate-helm-chart:
    name: Validate ingress server Helm chart
    runs-on: ubuntu-latest
    container:
      image: alpine/k8s:1.29.14
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Lint Helm chart
        uses: GeoMop/github-actions/.github/actions/helm-lint@v1
        with:
          working-directory: ingress_server/charts
          chart: zarr-fuse-ingress
          helm-dependencies: "apache-airflow=https://airflow.apache.org"
  deploy-helm-chart:
    name: Deploy ingress server to e-infra rancher
    runs-on: ubuntu-latest
    if: ${{ inputs.deploy-helm-chart }}
    container:
      image: alpine/k8s:1.29.14
    needs:
      - validate-helm-chart
      - get-version-tag
      - containerize-ingress-service
      - containerize-extractor-service
    env:
      KUBECONFIG: ./kubeconfig.yaml
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Decode kubeconfig
        run: echo "${{ secrets.KUBECONFIG }}" | base64 -d > kubeconfig.yaml && chmod 600 kubeconfig.yaml
      - name: Set context
        run: kubectl config set-context --current --namespace="${{ inputs.namespace }}"
      - name: Add dependencies
        run: helm repo add apache-airflow https://airflow.apache.org
      - name: Build Helm dependencies
        run: helm dependency build ingress_server/charts/zarr-fuse-ingress
      - name: Deploy app
        run: |
          helm upgrade zarr-fuse-ingress ingress_server/charts/zarr-fuse-ingress \
          --install --atomic --timeout 10m --namespace "${{ inputs.namespace }}" \
          --values .github/values/ingress-server/defaults.yaml \
          --set runId="${{ github.run_id }}" \
          --set ingressService.image.tag="${{ needs.get-version-tag.outputs.version-tag }}" \
          --set airflow.defaultAirflowTag="${{ needs.get-version-tag.outputs.version-tag }}" \
          --set ingressService.configuration.s3.endpointUrl="${{ vars.S3_ENDPOINT_URL }}" \
          --set ingressService.configuration.s3.secrets.accessKey="${{ secrets.S3_ACCESS_KEY }}" \
          --set ingressService.configuration.s3.secrets.secretKey="${{ secrets.S3_SECRET_KEY }}" \
          --set ingressService.configuration.fastapi.secrets.usersJson='${{ secrets.BASIC_AUTH_USERS_JSON }}' \
          ${{ inputs.extra-helm-values }}

# TODO:
# Check shibo for airflow
#  --set airflow.webserver.defaultUser.password="${{ secrets.AIRFLOW_WEBSERVER_PASSWORD }}" \
#  --set airflow.webserver.defaultUser.username="${{ secrets.AIRFLOW_WEBSERVER_USERNAME }}"
#  --set airflow.webserver.defaultUser.email="${{ secrets.AIRFLOW_WEBSERVER_EMAIL }}"
