name: Ingress server - push tag
on:
  push:
    tags:
      - ingress-server/*.*.*
jobs:
  get-version:
    name: Get version from tag
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-get-changed-files
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get version from tag
        id: get-version
        run: |
          version=$(echo "${{ github.ref_name }}" | cut -d'/' -f2)
          echo "version=$version" >> $GITHUB_OUTPUT
  build-and-deploy:
    name: Build and deploy ingress server
    uses: ./.github/workflows/ingress-server-reusable-workflow.yaml
    if: needs.get-version.outputs.version != ''
    needs:
      - get-version
    concurrency:
      group: "${{ github.workflow }}-${{ github.ref_name }}-build-and-deploy"
      cancel-in-progress: false
    with:
      deploy: true
      tag: ${{ needs.get-version.outputs.version }}
      namespace: ingress-server
      release-name: ingress-server
      s3-store-url: s3://hlavo-release/bukov.zarr
      zarr-fuse-ref: main
    secrets: inherit
