name: Ingress server - pull request
on:
  pull_request:
    branches:
      - "*"
    paths:
      - ingress_server/**
jobs:
  build:
    name: Build and deploy ingress server for deve
    uses: ./.github/workflows/ingress-server-reusable-workflow.yaml
    with:
      push-container: true
      deploy-helm-chart: true
      tag: generate
      namespace: ingress-server-development
      extra-helm-values: |
        --values ${{ github.workspace }}/.github/values/ingress-server/pull-request.yaml
    secrets: inherit
