name: Ingress server - push main
on:
  push:
    branches:
      - main
    paths:
      - ingress_server/**
  workflow_dispatch:
jobs:
  build-and-deploy:
    name: Build and deploy ingress server for pre-production
    uses: ./.github/workflows/ingress-server-reusable-workflow.yaml
    concurrency:
      group: "${{ github.workflow }}-${{ github.ref }}-build-and-deploy"
      cancel-in-progress: true
    with:
      push-container: true
      deploy-helm-chart: true
      tag: generate
      namespace: ingress-server-latest
      extra-helm-values: >-
        --values .github/values/ingress-server/main.yaml
    secrets: inherit
