name: Ingress server - reusable workflow
on:
  workflow_call:
    inputs:
      deploy:
        description: Whether to deploy the Helm chart
        required: false
        type: boolean
        default: false
      tag:
        description: The tag to use for the container image
        required: false
        type: string
        default: generate
      namespace:
        description: The Kubernetes namespace to use
        required: false
        type: string
      release-name:
        description: The Helm release name to use
        required: false
        type: string
      s3-store-url:
        description: The S3 store URL (e.g., s3://bucket-name/path/to/store.zarr)
        required: false
        type: string
      docker-repository:
        description: The Docker repository to use
        required: false
        type: string
        default: jbrezmorf/zarr-fuse-ingress-server
      docker-registry:
        description: The Docker registry to use
        required: false
        type: string
        default: docker.io
      configuration-dir-path:
        description: Path to the directory containing configuration files
        required: false
        type: string
        default: app/databuk/inputs
      extra-helm-args:
        description: Extra Helm arguments to pass during deployment
        required: false
        type: string
        default: ""
      zarr-fuse-ref:
        description: "Ref/branch/tag repozitáře GeoMop/zarr_fuse"
        required: false
        type: string
        default: main
jobs:
  get-version-tag:
    name: Get version tag
    runs-on: ubuntu-latest
    outputs:
      version-tag: ${{ steps.get_version_tag.outputs.version_tag }}
    steps:
      - name: Get version tag
        id: get_version_tag
        run: |
          if [[ ${{ inputs.tag }} == "generate" ]]; then
            echo "version_tag=ci-${GITHUB_SHA::7}" >> $GITHUB_OUTPUT
          else
            echo "version_tag=${{ inputs.tag }}" >> $GITHUB_OUTPUT
          fi
  pre-containerize:
    name: Prepare for containerization
    runs-on: ubuntu-latest
    if: ${{ inputs.configuration-dir-path != '' }}
    steps:
      - name: Checkout caller repository
        uses: actions/checkout@v4
      - name: Copy configuration files
        run: |
          SRC_DIR="${{ inputs.configuration-dir-path }}"
          DEST_DIR="ci-inputs"

          if [[ ! -d "$SRC_DIR" ]]; then
            echo "Source directory '$SRC_DIR' does not exist."
            exit 1
          fi

          mkdir -p "$DEST_DIR"
          rm -rf "$DEST_DIR/*"

          cp -r "$SRC_DIR"/. "$DEST_DIR"/
      - name: Upload configuration files as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ingress-server-configuration
          path: ci-inputs/
  containerize:
    name: Containerize ingress server
    runs-on: ubuntu-latest
    needs:
      - get-version-tag
      - pre-containerize
    container:
      image: quay.io/buildah/stable:v1.35.4
      options: --privileged
    steps:
      - name: Checkout zarr_fuse
        uses: actions/checkout@v4
        with:
          repository: GeoMop/zarr_fuse
          ref: ${{ inputs.zarr-fuse-ref }}

      - name: Remove existing configuration files
        if: ${{ inputs.configuration-dir-path != '' }}
        run: rm -rf ingress_server/src/inputs/*

      - name: Remove existing configuration files
        if: ${{ inputs.configuration-dir-path != '' }}
        run: rm -rf ingress_server/src/inputs/*

      - name: Download configuration files artifact
        if: ${{ inputs.configuration-dir-path != '' }}
        uses: actions/download-artifact@v4
        with:
          name: ingress-server-configuration
          path: ingress_server/src/inputs/

      - name: Containerize
        uses: GeoMop/github-actions/.github/actions/containerize@v1
        with:
          registry: ${{ inputs.docker-registry }}
          repository: ${{ inputs.docker-repository }}
          tag: ${{ needs.get-version-tag.outputs.version-tag }}
          containerfile-path: oci/Containerfile
          push: true
          registry-username: ${{ vars.DOCKER_USERNAME }}
          registry-password: ${{ secrets.DOCKER_PASSWORD }}
          working-directory: ingress_server
          extra-build-args: --build-arg APP_VERSION="${{ needs.get-version-tag.outputs.version-tag }}"
  lint-helm-chart:
    name: Lint ingress server Helm chart
    runs-on: ubuntu-latest
    container:
      image: docker.io/alpine/k8s:1.29.14
    needs:
      - containerize
    steps:
      - name: Checkout zarr_fuse
        uses: actions/checkout@v4
        with:
          repository: GeoMop/zarr_fuse
          ref: ${{ inputs.zarr-fuse-ref }}
      - name: Lint helm chart
        uses: GeoMop/github-actions/.github/actions/helm-lint@v1
        with:
          working-directory: ingress_server/charts/ingress-server
          values: --values values/minimal-required-values.yaml
  deploy:
    name: Deploy ingress server to e-infra rancher
    runs-on: ubuntu-latest
    if: ${{ inputs.deploy }}
    container:
      image: docker.io/alpine/k8s:1.29.14
    needs:
      - lint-helm-chart
      - get-version-tag
    env:
      KUBECONFIG: ./kubeconfig.yaml
    defaults:
      run:
        working-directory: ingress_server/charts
    steps:
      - name: Checkout zarr_fuse
        uses: actions/checkout@v4
        with:
          repository: GeoMop/zarr_fuse
          ref: ${{ inputs.zarr-fuse-ref }}
      - name: Decode kubeconfig
        run: echo "${{ secrets.KUBECONFIG }}" | base64 -d > kubeconfig.yaml && chmod 600 kubeconfig.yaml
      - name: Set context
        run: kubectl config set-context --current --namespace="${{ inputs.namespace }}"
      - name: Deploy app
        run: |
          helm upgrade ${{ inputs.release-name }} ingress-server \
          --install --atomic --timeout 10m --namespace "${{ inputs.namespace }}" \
          --set image.tag="${{ needs.get-version-tag.outputs.version-tag }}" \
          --set deployment.secrets.s3.accessKey="${{ secrets.S3_ACCESS_KEY }}" \
          --set deployment.secrets.s3.secretKey="${{ secrets.S3_SECRET_KEY }}" \
          --set deployment.secrets.s3.endpointUrl="${{ vars.S3_ENDPOINT_URL }}" \
          --set deployment.secrets.s3.storeUrl='${{ inputs.s3-store-url }}' \
          --set-json deployment.secrets.basicAuth.usersJson='${{ secrets.BASIC_AUTH_USERS_JSON }}' \
          --set app.name="${{ inputs.release-name }}" \
          ${{ inputs.extra-helm-args }}
