name: Ingress server - pull request
on:
  pull_request:
    branches:
      - "**"
    paths:
      - ingress_server/**
jobs:
  build:
    name: Build and deploy ingress server
    uses: ./.github/workflows/ingress-server-reusable-workflow.yaml
    concurrency:
      group: "${{ github.workflow }}-${{ github.event.number }}-build-and-deploy"
      cancel-in-progress: true
    with:
      deploy: true
      tag: generate
      namespace: testing-moc-airflow # TODO: change back ingress-server-development
      zarr-fuse-ref: ${{ github.head_ref }}
      extra-helm-values: |
        --values .github/values/ingress-server/pull-request.yaml
    secrets: inherit
